**
!.gitignore
!.travis.yml
!ChangeLog.md
!README.md
!LICENSE
!expressions.cabal
!src/
!src/Data/
!src/Data/Expression.hs
!src/Data/Expression/
!src/Data/Expression/Arithmetic.hs
!src/Data/Expression/Array.hs
!src/Data/Expression/Equality.hs
!src/Data/Expression/IfThenElse.hs
!src/Data/Expression/Sort.hs
!src/Data/Expression/Utils/
!src/Data/Expression/Utils/Indexed/
!src/Data/Expression/Utils/Indexed/Functor.hs
!src/Data/Expression/Utils/Indexed/Show.hs
!src/Data/Expression/Utils/Indexed/Sum.hs
